{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
{% endblock %}

{% block javascripts %}
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/ouical.js"></script>
    <script src="./assets/js/script.js"></script>
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <img class="logo" src="./assets/img/logo.svg">
    <h1>Hello {{ patient_name }}! </h1>

    <ul>
        <li>ID записи <span>{{ entry_id }}</span></li>
        <li>Имя пациента <span>{{ patient_name }}</span></li>
        <li>Дата приема <span>{{ entry_date }}</span></li>
    </ul>

    <div id = "calendar-wrapper" data-entry-date = "{{ js_entry_date }}"></div>
    {{ render(controller(
        'App\\Controller\\MainController::initCalendarWidget',
        {
            'title': 'title',
            'startTime' : js_entry_date,
            'endTime' : js_entry_date,
            'desc' : 'описание',
            'address': 'Народная ул., 12, Москва, Россия, 115172',
            'url' : app.request.uri
        }
    )) }}
</div>

{% endblock %}
